@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>Users</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>