@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Hotel Manager 4000</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css"  />
</head>
<nav class="navbar navbar-expand bg-info">
    <div class="container-fluid">
        <div class="nav navbar-expand">
            <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
            <a class="nav-link">Hotel Listing</a>
        </div>

        @if (signInManager.IsSignedIn(User))
        { 
            <div class="nav navbar-expand  justify-content-end ">
            
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Sign out</a>
             
            </div>
        }
        else
        {
            <div class="nav navbar-expand  justify-content-end ">
        <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
                <a class="nav-link" asp-action="Login" asp-controller="Account">Log In</a>
            </div>
        }
      
        
    </div>
</nav>
<body>

    <div class="container">
        <main role="main" class="pb-3 background" >
            @RenderBody()
        </main>
    </div>

  
</body>
</html>
