@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <h2>Wecome to the management system, @User.Identity.Name. </h2>
}

else{
<div class="text-center text-bg-danger">
    <h1 class="display-4">Welcome to Hotel Manager 4000</h1>
    <p>-Has many special features included</p>
    <p>- Voice Chat</p>
    <p>-Find Rooms availible</p>
    <p>And much more!</p>
</div>

    <h4><a asp-action ="HotelListing" asp-controller="Hotel" asp-area="">Click here to view our current hotel listings.</a> </h4>
}




