@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-bg-danger">
    <h1 class="display-4">Welcome to Hotel Manager 4000</h1>
    <p>-Has many special features included</p>
    <p>- Voice Chat</p>
    <p>-Find Rooms availible</p>
    <p>And much more!</p>
</div>
