@model RegistrationViewModel
<h1 class="text-danger">Register</h1>
<div asp-validation-summary="All" class="text-secondary">
    <form method="post" asp-controller="Account" asp-action="Register">
    <div class="mb-5">
        <label for="firstName" class="text-primary">Email</label>
        <br />
        <input type="text" class="form-control" id="firstName" asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <label for="firstName" class="text-primary">First Name</label>
        <br/>
        <input type="text" class="form-control" id="firstName" asp-for="FirstName" />        
        <span asp-validation-for="FirstName"></span>
        <label for="firstName" class="text-primary">Last Name</label>
        <br />
             
        <input type="text" class="form-control" id="lastName" asp-for="LastName"/>
        <span asp-validation-for="LastName"></span>
        <label for="userName" class="text-primary">Username</label>
        <br />
        <input type="text" class="form-control" id="userName" asp-for="UserName"/>
    <span asp-validation-for="UserName"></span>

        <label for="passwordName" class="text-primary">Password</label>
        <br />
        <input type="text" class="form-control" id="passwordName" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <label for="repeatPassword" class="text-primary">Re-Enter Password</label>

        <br />
        <input type="text" class="form-control" id="repeatPassword" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit" class=" btn btn-success">Register</button>
</form>
</div>

