@model RegistrationViewModel
<h1 class="text-danger">Register</h1>
<div asp-validation-summary="ModelOnly" class="text-secondary fw-bolder"></div>
    <form method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group row">
        <div class="form-col-sm-2">
                <label asp-for="Email">Email</label>
          <input type="text" class="form-control" asp-for="Email"  />
            <span asp-validation-for="Email" class="text-secondary fw-bolder"></span>
        </div>
        <label asp-for="FirstName">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" />        
        <span asp-validation-for="FirstName" class="text-secondary fw-bolder"></span>
        <br />
            <label asp-for="LastName">Last Name</label>
            <input type="text" class="form-control" asp-for="LastName"/>
        <span asp-validation-for="LastName" class="text-secondary fw-bolder"></span>
        <br />
        <label asp-for="UserName">Username</label>
  <input type="text" class="form-control" asp-for="UserName"/>
        <span asp-validation-for="UserName" class="text-secondary fw-bolder"></span>

        <label class="text-primary" asp-for="Password">Password</label>
        <br />
        <input type="password" class="form-control"  asp-for="Password" />
        <span asp-validation-for="Password" class="text-secondary fw-bolder"></span>
        <br />
        <label class="text-primary" asp-for="ConfirmPassword">Re-Enter Password</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-secondary fw-bolder"></span>
        <label class="text-primary">Select a role.</label>
        <br />
    <button type="submit" class=" btn btn-success mb">Register</button>

</form>

